{% extends 'base.html' %}
{% block content %}

{% for obj in objek %}

<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="jumbotron jumbotron-fluid">
        <div class="card-body">
        {% if obj.image %}
            <img src="{{ obj.image.url }}" class="card-img-top">
        {% endif %}
        <h5 class="card-title"><a href="{% url 'detail' obj.slug %}">{{ obj.judul}}</a></h5>
        <p class="card-text">
            <small class='text-muted'> create_at : {{ obj.create_at }}</small>
            {{ obj.isi | linebreaks}} 
        </p>
        </div>
    </div>
</div>
{% endfor %}

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            {% if objek.has_previous %}
                <a class="page-link" href="?{{ page_request_var }}={{ objek.previous_page_number }}">Previous</a>
            {% endif %}
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
        <span class="page-link">
            <span class="current">
                Page {{ objek.number }} of {{ objek.paginator.num_pages }}.
            </span>
        </span>
    </li>
        <li class="page-item">
            <li class="page-item">
                {% if objek.has_next %}
                    <a class="page-link" href="?{{ page_request }}={{ objek.next_page_number }}">Next</a>
                {% endif %}
        </li>
    </ul>
</nav>
</div>

{% endblock %}