{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block judul %}{% endblock %}
        <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="container">
        
        <h1>Hallow django</h1>
    </div>


    {% endblock %}

</body>
</html>
